services:
  db:
    image: postgres:15
    container_name: devops_postgres
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - ../db-init:/docker-entrypoint-initdb.d

volumes:
  postgres_data:
