name: Deploy to Staging

on:
  release:
    types: [published]

jobs:
  deploy:
    
    name: Deploy to staging 
    runs-on: ubuntu-latest
    environment: 
      name: staging

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Build and Run with Docker Compose
        run: |
          docker compose build
          docker compose up -d

      - name: Send Email Notification
        if: success()
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.gmail.com
          server_port: 587
          username: ${{ secrets.EMAIL_USERNAME }}
          password: ${{ secrets.EMAIL_PASSWORD }}
          subject: "[DevOps] Staging Updated"
          to: ER_Poi_Voon@np.edu.sg, lucastoh06@gmail.com
          from: DevOps Team
          body: |
            A new release has been published and deployed to Staging.
            
            Release Version: ${{ github.event.release.tag_name }}
            Released By: ${{ github.actor }}
            Deployment Target: Github
            
            