name: "PR Title Lint"

on:
  workflow_call:

permissions:
  pull-requests: read

jobs:
  pr_title:
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
